/*HTML reset*/
* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-height: 1080px){
    /*Begin General CSSes*/
    .section{
        width: 100%;
        height: 100vh;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr auto;
        justify-items: end;
        height: 100vh;
    }
    .title-image{
        margin-top: 1vw;
        width: 30vw;
        height: auto;
    }
    .body-text{
        margin: 1vw 1.5vw 1vw 1.5vw;        
        font-size: 1.75vw;
        text-align: justify;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .footer{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8vw;
        border: 1px solid #471101;
        background-color: darkolivegreen;
        background-size: cover;
        margin-top: 2vh;
        align-items: center;
    }
    .footer-seasons-logo{
        height: 6vw;
        width: auto;
    }
    /*End General CSSes*/
    /*Begin Home CSSes*/
    .home-flex-container{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .home{
        background: url("../images/sprinkler-gif.gif");
        background-size: cover;
    }
    .home-opaque-div{
        background-color: darkolivegreen;
        opacity: 0.7;
        width: 100%;
        height: 100vh;
        position: absolute;
    }
    .home-seasons-logo{
        width: 50vw;
        height: auto;
    }
    .home-start-button{
        border-radius: 0.75vw;
        border: none; 
        width: 12.5vw;
        height: 2.5vw;
        font-size: 1.5vw;
        font-family: Calibri;
        font-weight: 500;
        background-color: #471101;
        color: rgb(208, 228, 235);
        cursor: pointer;
        text-align: center;
    }
    /*End Home CSSes*/
    /*Begin Introduction CSSes*/
    .introduction-woman{
        height: 100vh;
        width: auto;
        max-width: 50vw;
    }
    .carousel-introduction{
        width: auto;
        height: 33vh;
    }
    .carousel-introduction img.introduction-carousel-images {
        width: auto;
        height: 33vh;
        border: 2px solid #a02400;
        margin-left: 1.5vw;
    }
    /*End Introduction CSSes*/
    /*Begin About Us CSSes*/
    .carousel-about-us{
        width: auto;
        height: 100vh;
    }
    .carousel-about-us img.about-us-carousel-images {
        width: auto;
        height: 100vh;
    }
    /*End About Us CSSes*/
    /*Begin See More CSSes*/
    .see-more-title-image{
        margin-top: 1vw;
        width: 80vw;
        height: auto;
    }
    .see-more-flex-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .see-more-small-info-box{        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 1.25vw 0 1.25vw;
        width: 45vw;
        height: 20vw;
        border: 2px solid #471101;
        border-radius: 5px;
    }
    .see-more-sub-small-info-box{
        width: 46.5%;
        height: 90%;        
    }
    .see-more-large-info-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 1.25vw 0 1.25vw;
        width: 92.5vw;
        height: 15vw;
        border: 2px solid #471101;
        border-radius: 5px;
        overflow: auto;
    }
    .see-more-image{
        width: 100%;
        height: 100%;
        border: 0.1px solid #471101;
        cursor: pointer;
    }
    .see-more-text-title{
        font-weight: bold;
        font-size: 1.75vw;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .see-more-text-body{
        font-size: 1.25vw;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .see-more-large-sub-info-box{
        margin-left: 1vw;
        flex: 0 0 17vw;
        height: 12vw;
        border: 1px solid #471101;
    }
    .see-more-news{
        font-weight: bold;
        font-size: 2.5vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #a02400;
    }
    /*End See More CSSes*/
    /*Begin Contribute CSSes*/
    .contribute-text-title{
        font-weight: bold;
        font-size: 2.25vw;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .contribute-info-box{        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 1.25vw;
        width: 45vw;
        height: 100%;
        border: 2px solid black;
    }
    .contribute-grid-container{
        display: grid;
        grid-template-columns: 1fr auto;
        align-content: center;
        height: 100vh;
    }
    .contribute-icon{
        width: auto;
        height: 6.5vw;
        cursor: pointer;
    }
    /*End Contribute CSSes*/
}


